<launch>

    <param name="/iiwa/toolName" type="string" value="MPLM3204P" />

    <!-- csv name param -->
    <param name="/mode" type="string" value="kt" />

    <!-- teach node -->
    <node pkg="teach_play" type="teach.py" name="teach"/>

    <!-- calculate wrench node -->
    <node pkg="utils_functions" type="cartesian_wrench.py" name="cartesian_wrench"/>

</launch>
