<launch>

    <!-- telep modality -->
    <arg name="teleop_config" default="$(find pad_control)/config/full_task_space.yaml" />

    <!-- controller.py ON/OFF -->
    <arg name="controller" default="true"/>

    <!-- joy node -->
    <node respawn="true" pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="autorepeat_rate" value="100" />
        <param name="dev_ff" value="/dev/input/event24" />
    </node>

    <!-- teleop node -->
    <rosparam file="$(arg teleop_config)" command="load" />
    <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop"/>

    <!-- controller node -->
    <group if="$(arg controller)">
        <node pkg="pad_control" type="controller.py" name="controller"/>
    </group>

    <!--

    (-) per spostarsi in su a2

    - axis -> 0 .. 8
        analogico sx oriz, analog sx ver, L2, analog dx oriz, analog dx ver, R2, frecce laterali, frecce verticali

    - buttons -> 0 .. 13
        croce, cerchio, triangolo, quadrato, L1, R1, L2, R2, share, options, tasto play, analog sx, analog dx

    -->

</launch>
